<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Curso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
 </ion-header>
 <ion-toolbar>
  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Lista Curso</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Notas</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-content>
