<ion-header [translucent]="true">
  <ion-toolbar [class]="tableHeader">
    <ion-title>
      Libro Clases
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row>
      <ion-col align-self-center>
          <span class="ion-text-bold"> Bienvenido {{ email }}</span>
      </ion-col>
  </ion-row>

  <ion-list-header>
      <ion-label class="ion-text-bold">Cursos</ion-label>
    </ion-list-header>
    <ion-item >
      <ion-select name="miselect" (ionChange)="changeTablaPorCurso($event)" value="ion-border" >
          <ion-select-option *ngFor="let curso of cursos; let i = index" value="{{ curso?.id }}">{{ curso?.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list-header>
      <ion-label class="ion-text-bold">Asignaturas</ion-label>
    </ion-list-header>
    <ion-item >
      <ion-select (ionChange)="changeTablaPorAsignatura($event)" value="ion-border" >
        <ion-select-option *ngFor="let asignatura of asignaturas" value="{{ asignatura?.id }}">{{ asignatura?.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

  <ion-grid [class]="tableTheme">
    <ion-row [class]="tableHeader">
      <ion-col class="ion-text-bold"> Nombre Alumno </ion-col>
      <ion-col class="ion-text-bold"> Nota 1 </ion-col>
      <ion-col class="ion-text-bold"> Nota 1 </ion-col>
      <ion-col class="ion-text-bold"> Nota 2 </ion-col>
    </ion-row>

    <ion-row *ngFor="let alumno of alumnos">
      <ion-col>{{ alumno?.name }}</ion-col>
      <ion-col *ngFor="let nota of alumno.notas">
          {{ nota?.nota }}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>